<p>
<%= form("comment", context) %>
<input type="text" class="comment" value="" name="<%= comment_param_name %>" />
<input type="submit" name="submit-comment" value="GO!" />
</form>
</p>
<%= to_log_html(context) %>
