dist: trusty
env:
  global:
    - DISPLAY=":99.0"
notifications:
  email:
    recipients:
      - rabbit@ml.commit-email.info
rvm:
  - 2.2
  - 2.3.3
  - 2.4.0
addons:
  apt:
    packages:
#      - python-blockdiag
      - python-pip
matrix:
  allow_failures:
    - rvm: ruby-head
  fast_finish: true
before_install:
  - gem update bundler
  - sudo -H pip install blockdiag
before_script:
  - sh -e /etc/init.d/xvfb start
after_script:
  - sh -e /ext/init.d/xvfb stop
