@charset "utf-8";

/* color:
 *   * dark: #aa0202
 *   * medium: #d26364
 *   * light: #feced1
 */

body
{
    color: black;
    background-color: #feced1;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
}

header
{
    display: block;
    position: relative;
}

h1
{
    margin: 0;
    padding: 0;
    margin-left: 20px;
    background: url(../images/lavie-icon.png) left no-repeat;
}

h1 a
{
    color: white;
    text-decoration: none;
    display: block;
    height: 90px;
    padding-top: 30px;
    padding-left: 130px;
    margin-right: 570px;
}

h1 span.title
{
    letter-spacing: 3px;
}

h1 span.separator
{
    display: none;
}

h1 span.description
{
    display: block;
    color: #eee;
    font-size: small;
    letter-spacing: 5px;
}

div.facebook-buttons
{
    position: absolute;
    bottom: 0px;
    right: 20px;
    border: #aa0202 2px solid;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: 90px;
}

pre#install
{
    position: absolute;
    bottom: 0px;
    right: 20px;
    -moz-border-radius: 10px 0;
    -webkit-border-radius: 10px 0;
    border-radius: 10px 0;
    margin: 0;
}

pre.command
{
    background-color: black;
    color: white;
    padding: 10px 20px;
}

header div.other-language-links
{
    position: absolute;
    top: 10px;
    right: 500px;
    /* width: 50px; */
}

header div.other-language-links ul,
header div.other-language-links li
{
    display: inline;
    padding: 0;
    margin: 0;
}

header div.other-language-links a img
{
    border-style: none;
}

ul#screenshots
{
    margin: 0;
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

ul#screenshots li
{
    display: inline;
}

div.main
{
    display: block;
    background: url(../images/hare-and-tortoise.png) repeat-x;
    margin-top: 20px;
    padding-top: 80px;
}

section.contents,
section.footnotes
{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #aa0202 2px solid;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

section.contents h2,
section.contents h3,
section.contents h4,
section.contents h5
{
    color: #aa0202;
}

section.footnotes
{
    margin-top: 30px;
}

nav h2
{
}

nav p.note
{
    position: absolute;
    right: 20px;
    top: 10px;
}

nav a:link
{
    color: #aa0202;
}

nav a:visited
{
    color: #d26364;
}

nav a:hover
{
    color: white;
    background-color: #aa0202;
}

nav a:active
{
    color: #aa0202;
    background-color: white;
}

footer
{
    display: block;
    height: 40px;
}
