<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="UTF-8" />
    <title>Rabbit - {{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico"
          type="image/vnd.microsfot.icon">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/jquery-ui/themes/ui-lightness.css"
          type="text/css">
    <link rel="stylesheet" href="/css/rabbit.css" type="text/css">
    <meta property="fb:page_id" content="202603309766491">
    <meta property="fb:admins" content="kouhei.sutou">
    <meta property="og:type" content="product">
    <meta property="og:image"
          content="http://rabbit-shockers.org/images/lavie.png">
    <meta property="og:site_name" content="Rabbit">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="header">
      <h1 class="title">
	<a href="/">
          <span class="project">Rabbit</span>
          <span class="separator">-</span>
          <span class="description">{{ page.title }}</span>
        </a>
      </h1>
      <div class="facebook-buttons">
	<fb:like href="http://www.facebook.com/pages/Rabbit/202603309766491"
                 layout="standard"></fb:like>
      </div>
      <pre id="install" class="command">gem install rabbit</pre>
      <div class="other-language-links">
	<ul>
{% if page.language != "en" %}
	  <li><a href="/{{ page.url | replace:page.language:'en' }}" alt="English" title="English"><img src="/images/us.png"></a></li>
{% endif %}
{% if page.language != "ja" %}
	  <li><a href="/{{ page.url | replace:page.language:'ja' }}" alt="日本語" title="日本語"><img src="/images/jp.png"></a></li>
{% endif %}
	</ul>
      </div>
    </header>
    {{ content }}
    <footer>
    </footer>
    <script src="http://connect.facebook.net/{{ page.language }}_{{ page.country }}/all.js"></script>
    <script>
    FB.init({
      appId  : null,
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
    </script>
    <script type="text/javascript">
      if (document.location.protocol != "file:" &&
          document.location.host != "localhost") {
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-12143252-4']);
	_gaq.push(['_trackPageview']);

	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
      }
    </script>
  </body>
</html>
