@charset "utf-8";

body
{
    color: black;
    background-color: #feced1;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
}

h1
{
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 130px;
    height: 90px;
    background: url(../images/lavie-icon.png) left no-repeat;
}

h1 a
{
    color: white;
    text-decoration: none;
}

h1 span.title
{
    letter-spacing: 3px;
}

h1 span.separator
{
    display: none;
}

h1 span.catch-phrase
{
    display: block;
    color: #eee;
    font-size: small;
    letter-spacing: 5px;
}

pre#install
{
    position: absolute;
    top: 10px;
    right: 20px;
}

pre.command
{
    background-color: black;
    color: white;
    padding: 10px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul#screenshots
{
    margin: 0;
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

ul#screenshots li
{
    display: inline;
}

nav
{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #aa0202;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    position: relative;
}

nav h2
{
}

nav p.note
{
    position: absolute;
    right: 20px;
    top: 10px;
}

nav a
{
    color: #feced1;
}

footer
{
    display: block;
    height: 40px;
}
