%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %link(rel="stylesheet" type="text/css" media="all" href="/stylesheets/rabbirack.css")
    %title
      =slide_title
  %body
    =yield
